* {
    box-sizing: border-box;
    font-family: Verdana, Garamond, "Gill Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #160C28;
    color: #E1EFE6;
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    flex-direction: column;
}

header {
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 50px;
    height: auto;
}

#home {
    text-decoration: none;
    color: #E1EFE6;
    font-weight: 800;
}

main {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    color: #EFCB68;
    margin: 0;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 310px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 75px;
}

#playerScore,
#botScore,
#round {
    margin: 0;
}

.scoreBoard {
    width: 890px;
    display: flex;
    justify-content: space-between;
}

.playerScore,
.botScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-width: 95px;
}

#playerScore,
#botScore {
    font-size: 2.5rem;
}

.compare {
    display: flex;
    justify-content: center;
    align-items: center;
}

.human,
.computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 300px;
    width: 500px;
}

#result {
    font-size: 2rem;
}

.playerChoiceImg,
.computerChoiceImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#rock,
#paper,
#scissors {
    min-width: 145px;
    min-height: 40px;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 5px 30px 5px 30px;
    border: 1px solid #000411;
    border-radius: 10px;
    background-color: #000411;
    color: #E1EFE6;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    background-color: #E1EFE6;
    border: 1px solid #E1EFE6;
    color: #000411;
    text-decoration: none;
    transition: all 0.3 ease;
}

.choose {
    margin-top: 15px;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 50px;
}

.playAgainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 145px;
    min-height: 40px;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 5px 30px 5px 30px;
    border: 1px solid #FF0000;
    border-radius: 10px;
    background-color: #FF0000;
    color: #E1EFE6;
}

.playAgainBtn-hovered {
    background-color: #E1EFE6;
    border: 1px solid #E1EFE6;
    color: #FF0000;
    text-decoration: none;
    transition: all 0.3 ease;
}

/* Hand animation */
@keyframes shakeHuman {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-30px) rotate(-10deg);
    }
}

@keyframes shakeComputer {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-30px) rotate(10deg);
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

#odinlink,
#githublink {
    color: #E1EFE6;
}