* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #160C28;
    color: #E1EFE6;
}

main {
    font-family: Verdana, Garamond, "Gill Sans", sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px
}

h1 {
    font-size: 5rem;
    color: #EFCB68;
}

.letsPlay {
    line-height: 0.3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.playBtn {
    display: flex;
    margin-left: auto;
}

#playBtn {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 5px 30px 5px 30px;
    border: 1px solid #000411;
    border-radius: 10px;
    background-color: #000411;
    color: #E1EFE6;
}

#playBtn:hover {
    background-color: #E1EFE6;
    border: 1px solid #E1EFE6;
    color: #000411;
    text-decoration: none;
    transition: all 0.3 ease;
}